@mixin navbar-menu-theme-colors {
  @include theme-colors-of("all", ".navbar-menu") {
    --color-mask-background: #0000004d;
  }

  @include theme-colors-of("light", ".navbar-menu") {
    --color-container-background: #fff;
  }

  @include theme-colors-of("dark", ".navbar-menu") {
    --color-container-background: #{$coscup-dark-blue};
  }
}

@mixin navbar-menu {
  $menu-width: 300px;

  .navbar-menu {
    position: relative;

    .menu-container {
      position: fixed;
      top: 0;
      right: -$menu-width;
      width: 80%;
      max-width: $menu-width;
      height: 100%;
      padding: 2rem 0;
      background-color: var(--color-container-background);
      overflow-y: auto;
      z-index: 10;
      transition: all 0.3s;
    }

    .menu-mask {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-mask-background);
      z-index: 9;
    }

    &.open {
      .menu-container {
        right: 0;
        transition: all 0.3s;
      }

      .menu-mask {
        display: block;
      }
    }
  }
}
