@import "./agenda-table-room-cell";
@import "./agenda-session-item";

@mixin agenda-table {
  .agenda-table {
    --room-list-height: 100px;
    --column-width: 230px;

    table-layout: fixed;
    width: calc(var(--column-width) * var(--table-column));
    height: 100%;

    .room-list {
      tr {
        th {
          position: sticky;
          top: var(--navbar-height);
          height: var(--room-list-height);
          background-color: var(--color-agenda-table-room-list-background);
          z-index: 2;

          .cell-content {
            height: 100%;

            @include agenda-table-room-cell;
          }
        }
      }
    }

    .table-body {
      height: 100%;

      tr {
        height: 100%;

        td {
          height: 100%;
          vertical-align: top;

          .cell-content {
            height: 100%;
            padding: 0.25rem;

            @include agenda-session-item;
          }
        }
      }
    }
  }
}
