$text-dark: #fff;
$text-light: #404040;
$background-dark: #12344c;
$background-light: #fff;
$coscup-green: #3b9838;
$coscup-blue: #295688;
$coscup-secondary: #b1d7bf;
$coscup-dark-blue: #12344c;
$coscup-prime-light: #fbe2b4;
$coscup-prime-dark: #e07017;