* {
  line-height: 1;
  font-family: "PingFang TC", Din, "Microsoft YaHei", Avenir, Helvetica, Arial,
    sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

code,
code > * {
  font-family: "JetBrains Mono", monospace;
  line-height: 1.5;
}
