@import "./mixins";
@import "./container/default-popup-container";
@import "./content/session-detail";

#app #popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
  display: flex;

  @include session-detail;
}
