<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Event",
    "name": "COSCUP 2023",
    "description": "COSCUP 是 Opens Source 相關社群聯合舉辦的大型開放源碼研討會。讓世界各地的 FLOSS 愛好者、專家藉由開源人年會齊聚一堂，分享經驗、想法與新技術，共同激發群眾投入貢獻開源 / 自由軟體。",
    "image": [
      "https://coscup.org/2020/landing/images/coscup-logo-tw.png"
    ],
    "url": "https://coscup.org/2023/",
    "startDate": "2023-07-30T08:30:00+08:00",
    "endDate": "2023-07-31T18:30:00+08:00",
    "location": {
      "@type": "Place",
      "name": "國立臺灣科技大學",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "No.43, Keelung Rd., Sec.4, Da'an Dist.",
        "addressLocality": "Taipei",
        "postalCode": "10607",
        "addressCountry": "TW"
      }
    },
    "organizer": {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://coscup.org/2023/",
      "name": "COSCUP 開源人年會 | Conference for Open Source Coders, Users and Promoters",
      "alternateName": "COSCUP",
      "description": "COSCUP 是 Opens Source 相關社群聯合舉辦的大型開放源碼研討會。讓世界各地的 FLOSS 愛好者、專家藉由開源人年會齊聚一堂，分享經驗、想法與新技術，共同激發群眾投入貢獻開源 / 自由軟體。"
    }
  }
</script>
